body {
	background-image: url("../images/background.jpg");
	
}

header {
	color: #e6ffff;
	text-shadow: 3px 3px 3px #000;	
	text-align: center;
	font-size: 50px;
}

.topContainer
	{
		padding: 30px;


	}

	


	.characterWrapper {
		width: 100%;
		
	}
			/*.buttonBoba {
				
				background: #4d4d4d;
				color: #fff;
				opacity: .75;
				text-align: center;
				position: center;
				padding: 30px;
				width: 15%;
				
				line-height: 10px;
				margin-bottom: 0;
				font-weight: 100;
				float: left;
*/
			

					
}